<?xml version="1.0"?>
<model>
  <name>rover</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Zishaan</name>
    <email>iamzishaan@gmail.com</email>
  </author>

  <description>
    A simple two-wheeled differential-drive rover for the OpenRover
    project, with a rear caster wheel for balance.
  </description>
</model>
